@model ProjetoN2.Models.AulaViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form class="form-horizontal" asp-action="Save" asp-controller="Aula">
        <input type="hidden" asp-for="Id">

        <label asp-for="MateriaId"></label>
        <select class="form-control" asp-for="MateriaId" asp-items='@(new SelectList(ViewBag.Materias, "Id", "Nome"))'></select>
        <span class="text-danger" asp-validation-for="MateriaId"></span>
        <br>

        <label asp-for="TurmaId"></label>
        <select class="form-control" asp-for="TurmaId" asp-items='@(new SelectList(ViewBag.Turmas, "Id", "Nome"))'></select>
        <span class="text-danger" asp-validation-for="TurmaId"></span>
        <br>

        <label asp-for="SalaId"></label>
        <select class="form-control" asp-for="SalaId" asp-items='@(new SelectList(ViewBag.Salas, "Id", "Id"))'></select>
        <span class="text-danger" asp-validation-for="SalaId"></span>
        <br>
        
        <button class="btn btn-outline-dark">Salvar</button>
    </form>
</div>
