@model IEnumerable<ProjetoN2.Models.SalaViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Salas</h3>
    <a class="btn btn-striped btn-outline-dark" href="/Sala/Create">Adicionar</a>
    <br><br><br>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Capacidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sala in Model)
            {
                <tr>
                    <td>@sala.Id</td>
                    <td>@sala.Capacidade</td>
                    <td>
                        <a href="/Sala/Update?id=@sala.Id" class="btn btn-outline-warning">Atualizar</a>
                        <a href="/Sala/Delete?id=@sala.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
